<h3 class="gallery-item-title">
  <a href="<%= '/galleries/' + gallery.id %>"><%= gallery.escape("title") %></a>
</h3>
  <%= gallery.escape("description") %>
<div class="gallery-owner">
  curated by <a href="<%= '/users/' + owner["id"] %>"><%= owner["username"]%></a>
</div>
<ul class="pano-items-index">
</ul>
<% if (gallery.panoItems().length > 2) { %>
  <div class="view-all-wrapper">
    <a href="<%= '/galleries/' + gallery.id %>">View all</a>
  </div>
<% }; %>
