<div class="medium-panorama">
</div>

Title: <%= panoItem.escape("title") %><br />
in <a href="<%= '/galleries/' + gallery["id"]  %>"><%= gallery["title"] %></a>
by <a href="<%= '/users/' + owner["id"]  %>"><%= owner["username"] %></a>

<% if (panoItem.escape("all_tags")) {%>
  Tags: <%= panoItem.escape("all_tags") %>
<% }; %>
  <a href="<%= panoItem.getPanoramaViewUrl() %>">>> View full-size</a>
