<% var currentGalleryId = (panoItem.isNew() ? null : panoItem.collection.gallery.id); %>
<% var titlePlaceholder = (panoItem.isNew() ? "Name your street view" : ""); %>
<% var titleValue = (panoItem.isNew() ? "" : panoItem.escape("title")); %>
<% var allTagsPlaceholder = (panoItem.isNew() ? "Tag1, Tag2, Longer Tag, ..." : ""); %>
<% var allTagsValue = (panoItem.isNew() ? "" : panoItem.escape("all_tags")); %>

Choose Gallery:
<select name="gallery_id">
  <% BigWander.currentUser.galleries().each(function (gallery) { %>
    <option value="<%= gallery.id %>"
      <% if (gallery.id === currentGalleryId) { %>
        selected
      <% }%> >
      <%= gallery.escape("title") %>
      </option>
  <% }); %>
</select>

<input type="text" name="title" value="<%= titleValue %>"
<<<<<<< HEAD
  placeholder="<%= titlePlaceholder %>" class="title-input"
  autofocus="true"/>
=======
  placeholder="<%= titlePlaceholder %>" class="title-input" />
>>>>>>> 9ee3dd4e72eb94baedf5d74fd5b9a98e4db316d7

<input type="text" name="all_tags" value="<%= allTagsValue %>"
  placeholder="<%= allTagsPlaceholder %>" />

<input type="submit" value = "Save" />
<a href="javascript:void(0)" class="close-save-form">close</a>
