<% var currentGalleryId = (panoItem.isNew() ? null : panoItem.collection.gallery.id); %>
<% var titlePlaceholder = (panoItem.isNew() ? "Name your street view" : ""); %>
<% var titleValue = (panoItem.isNew() ? "" : panoItem.escape("title")); %>
<% var allTagsPlaceholder = ((panoItem.isNew() || panoItem.escape("all_tags") === "")  ? "Tag1, Tag2, Longer Tag, ..." : ""); %>
<% var allTagsValue = (panoItem.isNew() ? "" : panoItem.escape("all_tags")); %>

<!-- <span>Choose Gallery:</span> -->
<select name="gallery_id">
  <% BigWander.currentUser.galleries().each(function (gallery) { %>
    <option value="<%= gallery.id %>"
      <% if (gallery.id === currentGalleryId) { %>
        selected
      <% }%> >
      <%= gallery.escape("title") %>
      </option>
  <% }); %>
</select>

<input type="text" name="title" value="<%= titleValue %>"
  placeholder="<%= titlePlaceholder %>" class="title-input"
  autofocus="true"/>

<input type="text" name="all_tags" value="<%= allTagsValue %>"
  placeholder="<%= allTagsPlaceholder %>" class="tag-input" />

<input type="submit" value = "Save" class="pano-item-save-button" />
