<header>
  <h1><a href="/#">BigWander</a></h1>

  <a href="/#">GO to random view</a>
  <ul class="header-menu nav navbar-nav navbar-right"">
    <% if signed_in? %>
      <li><a href="<%= "#users/" + current_user.id.to_s %>">My Galleries</a></li>
      <%= button_to "Sign out", session_url, method: :delete,
      class: "btn btn-primary navbar-btn" %>
    <% else %>
      <li><%= link_to "Log in", new_session_url %></li>
      <li><%= link_to "Sign up", new_user_url %></li>
    <% end %>
  </div>
</header>
<div class="container">

  <% if flash[:errors] %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <%= flash[:errors].join("<br>").html_safe %>
  </div>
  <% end %>

</div>
