<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title aboutLogo"></h4>
      </div>
      <div class="modal-body">
        <p class="about-big">
          Explore the world and share your favorite destination!
        </p>
        <p class="about-normal">
          Click <strong><i class="fa fa-map-marker"></i> EXPLORE!</strong> to transport to a random Google Street View.
          Explore each area as long as you'd like, and <strong>save</strong> your favorite spot to your <strong>galleries</strong>.
        </p>
        <p>
      </div>
      <div class="modal-footer about-footer">
        <p class="about-normal">
          Find this project on <a href="https://github.com/phoebejhhong/big-wander" target="_blank">
            Github</a>
            | inspired by <a href="http://mapcrunch.com" target="_blank">MapCrunch</a>
            | with big thanks to <a href="http://maps.google.com" target="_blank">Google Maps</a>
        </p>

      </div>
    </div>
  </div>
</div>
<header>
  <div class="row">
    <div class="col-md-3 header-title">
      <a href="/">
        <%= image_tag("big-wander-logo.png") %>
      </a>
    </div>
    <div class="col-md-2 random-button menu-to-hide header-button">
      <a href="/random" class="go-random-link">
        <!-- <span class="glyphicon glyphicon-play" aria-hidden="true"></span> -->
        <span class="explore"><i class="fa fa-map-marker"></i> EXPLORE!</span>
        </a>
    </div>
    <div class="col-md-2 featured-and-about-wrapper menu-to-hide">
      <div class="featured-galleries">
        <a href="javascript:void(0)">
          <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
          Featured Galleries</a>
      </div>
      <div class="about">
          <a href="javascript:void(0)">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            About</a>
        </div>
    </div>

    <div class="col-md-1 menu-toggle">
      <a href="javascript:void(0)">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </div>
  </div>
</header>

<div class="col-md-2 search-form-wrapper">
  <form class="search-form">
    <input type="text" class="search-query" placeholder="Search!">
    <button type="submit" class="search-button">
      <span class="glyphicon glyphicon-search"></span>
    </button>
  </form>
</div>

<div class="sign-in-menu-wrapper">
<% if signed_in? %>
<div class="my-gallery">
  <a href="<%= "/users/" + current_user.id.to_s %>">My Galleries</a>
</div>
<div class="sign-out">
  <%= link_to "Sign out", session_url, method: :delete %>
</div>
<% else %>
<div class="log-in">
  <%= link_to "Log in", new_session_url %>
</div>
<div class="sign-up">
  <%= link_to "Sign up", new_user_url %>
</div>
<% end %>

</div>
