<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <title>BigWander</title>
  <% if Rails.env.production? %>
    <% api_key = "key=AIzaSyAi_Egh41E4EB_gg6QWrg_Ik1bC16nP5Es" %>
  <% else %>
    <% api_key = '' %>
  <% end %>
  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?<%= api_key %>"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "layouts/header" %>
<div class="wrapper">
  <div class="main">
    <%= yield %>
  </div>
</div>

<script>$(BigWander.initialize);</script>
<script>
$(function() {
  BigWander.currentUserId = <%= current_user.try(:id) || 0 %>
  if (BigWander.currentUserId != 0) {
    BigWander.currentUser = new BigWander.Models.User({
      id: BigWander.currentUserId
    });
    BigWander.currentUser.fetch();
  };
  $(".search-form").on("submit", function(event) {
    event.preventDefault();
    $input = $(event.currentTarget).find(".search-query");
    var query = $input.val();
    $input.val("");
    Backbone.history.navigate("/search/" + query, {trigger: true});
  })
})
</script>
</body>
</html>
